<div class="container">

  <div class="row mt-5">
    <div class="col text-center">
      <header class="header">
        <h1>Consigue la mejor calidad</h1>
      </header>
    </div>
  </div>

  <form class="form-group" [formGroup]="form">

    <div class="row my-5">
      <div class="col mx-auto">

        <div [ngClass]="{'border border-success': form.value.checkbox1 === true}"
          class="d-flex justify-content-between align-items-center rounded  p-4 shadow">
          <div>
            <h3>Seo</h3>
            <p>Programacion de una web responsive completa</p>
          </div>
          <div>
            <h2>300 €</h2>
          </div>
          <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="checkbox1" formControlName="checkbox1"
              (change)="changeStatus(); updateURL()">
            <label class="form-check-label">Anadir</label>
          </div>
        </div>

      </div>
    </div>

    <div class="row my-5">
      <div class="col mx-auto">

        <div [ngClass]="{'border border-success': form.value.checkbox2 === true}"
          class="d-flex justify-content-between align-items-center  rounded  p-4 shadow">
          <div>
            <h3>Ads</h3>
            <p>Programacion de una web responsive completa</p>
          </div>
          <div>
            <h2>400 €</h2>
          </div>
          <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="checkbox2" formControlName="checkbox2"
              (change)="changeStatus(); updateURL()">
            <label class="form-check-label">Anadir</label>
          </div>
        </div>

      </div>
    </div>

    <div class="row my-5">
      <div class="col mx-auto">

        <div [ngClass]="{'border border-success': form.value.checkbox3 === true}"
          class="d-flex justify-content-between align-items-center rounded p-4 shadow">
          <div>
            <h3>Web</h3>
            <p>Programacion de una web responsive completa</p>
          </div>
          <div>
            <h2>500 €</h2>
          </div>
          <div class="form-group form-check d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex ">
              <input class="form-check-input" type="checkbox" name="checkbox3" formControlName="checkbox3"
                (change)="changeStatus(); updateURL()">
              <label class="form-check-label">Anadir</label>
            </div>
            <div *ngIf="form.value.checkbox3 === true">
              <app-panel />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto text-end">
        <h3>Precio presupostado: {{budgetService.total}} €</h3>
      </div>
    </div>
  </form>



  <div *ngIf="budgetService.total > 0" class="my-5">
    <form class="form-group form-inline border rounded  p-4 shadow needs-validation"
      (submit)="agregarUsuario(); resetURL()" [formGroup]="formularioUser"> 
      <div class="row">
        <div class="mb-4">
          <h3>Solicitar presupuesto</h3>
        </div>
        <div class="col">
          <input
            [ngClass]="{'is-invalid': hasError('nombre', 'required')||hasError('nombre', 'onlyLetter')||hasError('nombre', 'minlength')}"
            type="text" class="form-control mr-2" placeholder="Nombre" formControlName="nombre">
          <div class="text-danger" *ngIf="hasError('nombre', 'required')">
            El campo nombre es requerido
          </div>
          <div class="text-danger" *ngIf="hasError('nombre', 'onlyLetter')">
            El campo solo contiene letras
          </div>
          <div class="text-danger" *ngIf="hasError('nombre', 'minlength')">
            El campo debe tener minimo 5
          </div>
        </div>
        <div class="col">
          <input [ngClass]="{'is-invalid': hasError('telefono', 'required')||hasError('telefono', 'onlyNumber')}"
            type="number" min="0" class="form-control mr-2" placeholder="Telefono" formControlName="telefono">
          <div class="text-danger" *ngIf="hasError('telefono', 'required')">
            El campo telefono es requerido
          </div>
          <div class="text-danger" *ngIf="hasError('telefono', 'onlyNumber')">
            El campo telefono es numerico de 9
          </div>
        </div>
        <div class="col">
          <input [ngClass]="{'is-invalid': hasError('email', 'required')||hasError('email', 'emailCustom')}"
            type="email" class="form-control mr-2" placeholder="Email" formControlName="email">
          <div class="text-danger" *ngIf="hasError('email', 'required')">
            El campo email es requerido
          </div>
          <div class="text-danger" *ngIf="hasError('email', 'emailCustom')">
            Email invalida
          </div>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success">Solicitar presupuesto</button>
        </div>
      </div>
    </form>
  </div>


  <div *ngIf="budgetService.presupuestos.length > 0" class="my-5">
    <app-budget-list />
  </div>


</div>
